/*CODE ATTRIBUTION*/
/*TITLE: IIE WEDE5020 Module Manual 2025*/
/*AUTHOR: The Independent Institute of Education (Pty) Ltd*/
/*DATE: 07/03/2025*/
/*VERSION: 1.0*/
/*AVAILABLE: https://advtechonline.sharepoint.com/:w:/r/sites/TertiaryStudents/_layouts/15/Doc.aspx?sourcedoc=%7B2D7589E9-374B-43DE-9596-EF35D83EBD02%7D&file=WEDE5020MM.docx&action=default&mobileredirect=true*/

/*CODE ATTRIBUTION*/
/*TITLE: movieWeb*/
/*AUTHOR: afsaana03*/
/*DATE: 26/09/2025*/
/*VERSION: 1.7*/
/*AVAILABLE: https://github.com/afsaana03/movieWeb*/

/*CODE ATTRIBUTION*/
/*TITLE: CSS Styling Buttons*/
/*AUTHOR: W3 schools*/
/*DATE: 29/09/2025*/
/*VERSION: 1.0*/
/*AVAILABLE: https://www.w3schools.com/css/css3_buttons.asp*/

/*Navigation bar styling*/
.nav {
    list-style-type: none; /*removes bullet points*/
    margin: 0; /*resets margins*/
    padding: 0; /*reses padding*/
    background: #92c3a5; /*sets background*/
    overflow: hidden;
    border-bottom: 0.0625rem solid #595959; /*underlines the section*/
    display: flex; /*flex allows menu alignment to be controlled*/
    flex-wrap: wrap; /*pushes menu to new line on smaller screens*/
    align-items: center; /*puts menu items in the center of the bar*/
    justify-content: center; /*adds space between menu items*/
}

ul.nav li a {
    color: #ffffff; /*text colour*/
    text-decoration: none;  /* Removes the underline from the links */
    display: flex; /*flex allows menu alignment to be controlled*/
    padding: 0.875rem 1.25rem; /*Adds spacing around the link for a box*/
    transition: background-color 0.3s, color 0.3s; /*block transition when you hover over different menu items*/
}

ul.nav li a:hover {
    background-color: #4b9960; /*box changes colour when you hover over menu item*/
    color: #ffffff; /*text colour*/
    border-radius: 0.5rem; /*rounds corners on hover box*/
}

ul.nav p {
    color: #ffffff; /*text colour*/
    text-decoration: none;  /* Removes the underline from the links */
    display: flex; /*flex allows menu alignment to be controlled*/
    padding: 0.875rem 1.25rem; /*Adds spacing around the link for a box*/
    font-weight: bold; /*makes font bold*/
    transition: background-color 0.3s, color 0.3s; /*block transition when you hover over different menu items*/
}

/*general styling*/
body { 
    font-family: Georgia, serif; /*sets the website font*/
    background-color: #fffff7; /*background colour*/
    background-image: url("../_images/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; /*cover viewport while preserving aspect ratio*/
    margin: 0%; /*resets margins*/
    padding: 0%; /*resets padding*/
    color: #568366; /*text colour*/
}

h1, h2, h3, h4, h5, h6, p {
    text-align: left; /*sets all text to the left of the screen*/
    margin: 0%; /*resets margins*/
    padding-left: 2rem; /*stops text from touching the left screen side*/
    padding-right: 2rem; /*stops text from touching the right screen side*/
}

html {
    padding-bottom: 2rem; /*adds padding to the bottom of the page*/
}

/*button styling*/
.buttonContainer {
    display: flex; /*flex allows menu alignment to be controlled*/
    justify-content: center;
    align-items: center; /*puts item in the center of the container*/
    padding: 1rem; /*adds padding to the bottom of the container*/
    gap: 1rem; /*space between buttons while keeping them centered*/
}

button {
    padding: 0.7rem 1.5rem; /*adds padding to the sides of the button*/
    background-color: #92c3a5; /*sets the backround colour*/
    font-family: Georgia, serif; /*sets the website font*/
    color: #fff;  /*text colour*/
    border: 0.0625rem solid #92c3a5; /*sets the border thickness and colour*/
    border-radius: 0.5rem; /*rounds the button corners*/
    cursor: pointer; /*changes the default pointer*/
    font-weight: bold; /*makes the text bold*/
    transition: background-color 0.3s; /*adds a colour transition*/
}

button:hover {
    background-color: #4b9960; /*sets the backround colour*/
    border: 0.0625rem solid #4b9960; /*sets the border thickness and colour*/
    color: #fff; /*text colour*/
    transition: background-color 0.3s; /*adds a colour transition*/
}

/*section styling*/
.section {
    display: inline-flex; /*allow sections to sit side-by-side*/
    flex-wrap: wrap; /*pushes to new line on smaller screens*/
    flex-direction: column;
    align-items: left; /*puts items in the center of the bar*/
    justify-content: center; /*horizontally center items*/
    vertical-align: top; /*align inline-flex boxes to the top*/
    text-align: left; /*centers text inside each section*/
    padding: 1rem; /*adds space around the cards*/
    gap: 1rem; /*adds space between items*/
    padding: 1.25rem; /*Adds spacing around section contents*/
    transition: transform 0.2s, box-shadow 0.2s;
    box-sizing: border-box;
    width: 49%; /*sets the card width*/
}

.section ul {
    text-align: left;
    padding-left: 1.25rem; /* indent the list */
    margin: 0.5rem 0; /* space above/below list */
    list-style-position: outside; /*ensures bullets are outside the padding*/
    padding-bottom: 0.5rem; /*space below the list*/
}

/*homepage info block styling*/
.infoContainer {
    display: flex; /*use flex so info cards sit horizontally*/
    flex-wrap: wrap; /*wrap to next line on smaller screens*/
    align-items: center; /*vertically center items*/
    background-color: #fdffee; /*sets the background colour*/
    color: #3d3d3d;
    justify-content: left; /*horizontally center items*/ 
    gap: 0.25rem; /*space between info cards*/
    width: 90%
}

.info {
    display: flex; /*layout image and text horizontally*/
    align-items: center; /*center image and text vertically*/
    gap: 1rem; /*space between image and text*/
}

/*card styling*/
.cardContainer {
    display: flex; /*flex allows menu alignment to be controlled*/
    flex-wrap: wrap; /*pushes menu to new line on smaller screens*/
    align-items: center; /*puts menu items in the center of the bar*/
    justify-content: center; /*horizontally center items*/
    text-align: center; /*centers text inside the card container*/
    padding: 1rem; /*adds space around the cards*/
    gap: 1rem; /*adds space between menu items*/
}

.card {
    text-align: center; /*centers text inside each card*/
    background-color: #ffffff; /*sets the backround colour*/
    border: 0.0625rem solid #595959; /*border colour*/
    border-radius: 0.75rem; /*rounds the cards on the images*/
    padding: 1.25rem; /*Adds spacing around the card contents*/
    transition: transform 0.2s, box-shadow 0.2s;
    box-sizing: border-box; /*includes padding and border in the element's total width and height*/
    width: 40%; /*sets the card width*/
    height: 32rem;
}

.card ul {
    text-align: left; /*left-aligns the list inside the card*/
    padding-left: 1.25rem; /* indent the list */
    margin: 0.5rem 0; /* space above/below list */
    list-style-position: outside; /*ensures bullets are outside the padding*/
    padding-bottom: 0.5rem;
}

.card img {
    border-radius: 1rem; /*rounds the corners on the images*/
    border: 0.0625rem solid #595959; /*border colour*/
    display: inline-block; /*ensure margins apply consistently*/
    margin: 0.5rem; /*space around the image so it doesn't touch text*/
    max-width: 100%; /*prevent overflow*/
}

/*title styling*/
.title {
    color: #568366;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #568366; /*border colour*/

}
/*contact page styling*/
.location {
    display: inline-flex; /*allow sections to sit side-by-side*/
    flex-wrap: wrap; /*pushes to new line on smaller screens*/
    flex-direction: column; /*stack items vertically*/
    justify-content: center; /*horizontally center items*/
    vertical-align: top; /*align inline-flex boxes to the top*/
    text-align: left; /*left-align text inside each section*/
    padding: 1rem; /*adds 1rem space inside the location box*/
    gap: 1rem; /*adds space between items*/
    margin: 1rem; /*external space so adjacent borders don't touch*/
    transition: transform 0.2s, box-shadow 0.2s;
    border: 0.1rem solid #568366; /*border colour*/
    box-sizing: border-box;
    width: 27.5rem; /*sets the card width*/
}

.location h4 {
    font-weight: normal;
    margin: 0.25rem 0;
}

.location h4 strong {
    font-weight: bold;
}

